
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="card ">
                <div class="card-block">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <%@user.limit(5).each do |u|%>
                    <p><i class="fa fa-user-circle" aria-hidden="true"></i>  <a href="/user/<%=u.username%>"><%=  u.username%></a></p>
                    <%end%>
                </div>
            </div>
        </div>
        <%@array=Array.new%>
    <div class="col-lg-6">
       <%= render '/components/post_form'%>
        <%@image.each do |p|%>    
           <%@array << p.id%>
            <div class="card  post-card">
                <div class="card-block">
                  <div class="row">
                   
                    <div class="col-lg-12">
                        <span ><%= image_tag p.img, class:"imagen" %> </span>   <span class="creation"><a href="/user/<%=User.find(p.user_id).username%>"><%=User.find(p.user_id).username%></a> <strong><%=  p.created_at.to_formatted_s(:short)%></strong></span><%= p.id%>
                    </div>
                    <div class="col-lg-12">
                       
                       <%= form_for(@newcoment) do |f| %>
                    
                            <%= f.hidden_field :photo_id, class:"form-control" , value: p.id  %>    
                            <%= f.text_area :content, class:"form-control", autofocus: true, :required => true%>
                          <div class="actions">           
                                <span type="button" style="float:right; margin-top:3px;"><%= f.submit "Agregar comentario" , class:"btn btn-primary", type:"submit" %> </span>
                          </div>
                          <br>
                          <br>
                          <br>
                          <div class="col-lg-12">
                            <%= div_for @coments do |c|%>
                                <%if(c.photo_id==p.id)%>
                                    <div class="list-group">
                                      <div  class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                              <h5 class="mb-1"> <%=  c.name%></h5>
                                              <small class="text-muted"><%=  time_ago_in_words(c.created_at)%></small>
                                                </div>
                                                <p class="mb-1"><%=c.content%></p>
                                      </div>
                                    </div>
                                <%end%> 
                                    <%end%>  
                          </div>
                        <% end %>                    
                    </div>
                          
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 espacio">         
                </div>
            </div>
        <%end%> 
        </div>
         
    </div>
</div>